<% provide(:title, "Projects") %>
<div class="static" id="projects">
<h1>Projects</h1>


<a href="#top" class="projects-up"> <i class="material-icons">keyboard_arrow_up</i> </a>

<p class="projects-first" id="top">
All my projects are live. Play with them by clicking this

<button id="others_mock" class="main-header mdl-navigation__link 
  mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
  <i class="material-icons" role="presentation" id="projects-menu-demo">more_vert</i>
</button> at the top <span id="projects-menu-demo-2">right</span>.

<script type="text/javascript">
  document.addEventListener("turbolinks:load", function() {
    if($(window).width() <= 1024) {
      $('#projects-menu-demo').html("menu");
      $('#projects-menu-demo-2').html("left");
    }
    
    $("#others_mock").bind("click", function(){
      if($(window).width() > 1024){
        $("#others").click();}
      else {
        $('.mdl-layout__drawer-button').click();}
    });
  
    $(window).resize(function(){
      if ($(window).width() >1024) {
        $('#projects-menu-demo').html("more_vert");
        $('#projects-menu-demo-2').html("right");
      } 
      
      else {
        $('#projects-menu-demo').html("menu");
        $('#projects-menu-demo-2').html("left");
      };
    });
  });
    
</script>
</p>

<br />


<script>
document.addEventListener("turbolinks:load", function() {
  $('a').click(function(event) {
    var href = $.attr(this, 'href');
    var x_coord = $(href).offset().top - 50;
    $('main').animate({
        scrollTop: x_coord
    }, 'medium', function () {
        window.location.hash = href;
    });
    return false;
    
});
});
</script>

  <div class="mdl-grid">
    
    <div class="mdl-cell mdl-cell--4-col project-icon-wrapper">
      <div class="ih-item circle effect1"><a href="#projects-twitter">
        <div class="spinner"></div>
        <div class="img"><i class="material-icons project_icon">format_quote</i></div>
        <div class="info">
        <div class="info-back">
          <h3>Mini-Twitter</h3>
            <p>I copied it</p>
        </div>
      </div></a></div>
    </div>
    
    <div class="mdl-cell mdl-cell--4-col project-icon-wrapper">
      <div class="ih-item circle effect1"><a href="#projects-live-chat">
        <div class="spinner"></div>
        <div class="img"><i class="material-icons project_icon">chat_bubble_outline</i></div>
        <div class="info">
        <div class="info-back">
          <h3>Live chat</h3>
            <p>Use two accounts and talk to yourself</p>
        </div>
      </div></a></div>
    </div>
    
    <div class="mdl-cell mdl-cell--4-col project-icon-wrapper">
      <div class="ih-item circle effect1"><a href="#projects-nn">
        <div class="spinner"></div>
        <div class="img"><i class="material-icons project_icon">share</i></div>
        <div class="info">
        <div class="info-back">
          <h3>Neural Networks</h3>
            <p>Trained for image classification task</p>
        </div>
      </div></a></div>
    </div>
    
    <div class="mdl-cell mdl-cell--4-col project-icon-wrapper">
      <div class="ih-item circle effect1"><a href="#projects-asteria">
        <div class="spinner"></div>
        <div class="img"><i class="material-icons project_icon">timeline</i></div>
        <div class="info">
        <div class="info-back">
          <h3>Asteria</h3>
            <p>Golang Map Routing Engine</p>
        </div>
      </div></a></div>
    </div>
  
  </div>
<span class="projects-main-text">

<div class="projects-block" id="projects-twitter">  

  <h2><%= link_to "Mini-Twitter", login_path %>
        <%= link_to "https://github.com/hanyangtay/hanyang", target:"_blank", 
        rel: "noopener", class: "projects-github-icon" do %>
     <%= image_tag "footer/github.png" %></h2> 
  <% end %> 
  <hr>
  
  <h4>Concept: </h4>
  A Twitter app with my own UI concept. 
  <br /> 
  <h4>Features: </h4>
  <ul>
    <li> Responsive design </li>
    <li> Status feed </li>
    <li> Follow, like, retweet </li>
    <li> Picture uploads with live preview</li>
    <li> E-mails for sign-ups and password resets </li>
    <li> User authentication model </li>
    <li> Server-side and client-side validations </li>
  </ul>
  <h4>Tools used:</h4>
   HTML, CSS, Javascript, Material Design Lite, Ruby on Rails, jQuery, Heroku Postgres, AJAX
   <br />
  <h4>Screenshot: </h4>
  <%= link_to login_path do %>
  <%= image_tag "showcase/showcase_twitter.jpg", class: "projects-images" %>
  <% end %>

</div>

<div class="projects-block" id="projects-live-chat">  

  <h2><%= link_to "Live Chat", live_chat_path %>
        <%= link_to "https://github.com/hanyangtay/hanyang", target:"_blank", 
        rel: "noopener", class: "projects-github-icon" do %>
     <%= image_tag "footer/github.png" %></h2> 
  <% end %> 
  <hr>
  
  <h4>Concept: </h4>
  Simple live chat app
  <h4>Features: </h4>
  <ul>
    <li> Live </li>
    <li> View users currently online </li>
    <li> Chat with yourself using two accounts  </li>
  </ul>
  <h4>Tools used:</h4>
   Ruby on Rails, Coffeescript, Redis
  <br />
  <h4>Screenshot: </h4>
  <%= link_to live_chat_path do %>
  <%= image_tag "showcase/showcase_live_chat.jpg", class: "projects-images" %>
  <% end %>
</div>

<div class="projects-block" id="projects-nn">  
  <h2><%= link_to "Neural Networks", "https://github.com/hanyangtay/neural-networks", target:"_blank" %>
        <%= link_to "https://github.com/hanyangtay/neural-networks", target:"_blank", 
        rel: "noopener", class: "projects-github-icon" do %>
     <%= image_tag "footer/github.png" %></h2> 
  <% end %> 
  <hr>
  
  <h4>Concept: </h4>
  Computer vision: trained several ConvNets to classifiy images from the CIFAR-10 dataset.
<h4>Features: </h4>
  <ul>
    <li> Best performance over 1000 test images: 84.6%</li>
    <li> Activation units: Affine Transformation, ReLU, Convolutional layers </li>
    <li> Learning algorithms: Stochastic Gradient Descent, Momentum, RMSProp , Adam, Momentum  </li>
    <li> Optimisations: Pooling layers, Batch Normalisation, Dropout, L2 Regularisation</li>
    <li> Other classifiers: Support Vector Machine, k-Nearest Neighbours, Softmax, Fully Connected Nets </li>
  </ul>
  <h4>Tools used:</h4>
   Python, Cython
  <br />
  <h4>Screenshot: </h4>
  <%= link_to "https://github.com/hanyangtay/neural-networks", target:"_blank", rel: "noopener" do %>
  <%= image_tag "showcase/showcase_neural_networks.jpg", class: "projects-images" %>
  <% end %>
</div>

<div class="projects-block" id="projects-asteria">  
  <h2><%= link_to "Asteria", "https://github.com/hanyangtay/asteria", target:"_blank" %>
        <%= link_to "https://github.com/hanyangtay/asteria", target:"_blank", 
        rel: "noopener", class: "projects-github-icon" do %>
     <%= image_tag "footer/github.png" %></h2> 
  <% end %> 
  <hr>
  
  <h4>Concept: </h4>
  Golang map routing engine with a map-matching module that I developed for <%= link_to "SWAT", "https://github.com/hanyangtay/asteria", target:"_blank", 
        rel: "noopener" %> over summer 2017.
<h4>Features: </h4>
  <ul>
    <li> Dynamic time-based edge weights that update itself based on historical traffic data from SWAT fleet's trip histories. Accuracy of trip duration (ETA) estimates are continuously improved. </li>
    <li> Uses an edge-expanded graph representation to model turn restrictions </li>
    <li> Implements the following routing algorithms: Dijkstra, A* Search, Contraction Hierarchies and their bidirectional variants </li>
    <li> Uses a Golang implementation of Newson & Krumm's algorithm based on time inhomogeneous Hidden Markov Model processes </li>
    <li> Spatial and temporal accuracy of matched results exceed or are at least comparable to performance of map-matching algorithms implemented by existing open source software (Graphhopper, Mapbox / Open Source Routing Machine) </li>
  </ul>
  
  <h4>Tools used:</h4>
   Golang, OpenStreetMap, Leaflet, Material Design Components for the Web
  <br />
  <h4>Screenshot: </h4>
  <%= link_to "https://github.com/hanyangtay/asteria", target:"_blank", rel: "noopener" do %>
  <%= image_tag "showcase/showcase_asteria.jpg", class: "projects-images" %>
  <% end %>
</div>
  
</span>
</div>


