<li>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col small_side_profile">
            <%= link_to message.user do %>
                <%= image_tag message.user.avatar.url, class: "profile_pic_small", id: "message-#{message.id}"%>
            <% end %>
            <div class="mdl-tooltip mdl-tooltip--left timestring" data-mdl-for="message-<%= message.id %>">
                <%= message.created_at.to_datetime.iso8601 %>
            </div>
        </div>
                
        <div class="mdl-cell mdl-cell--10-col">
            <%= link_to message.user.name, message.user, class: "mdl-navigation__link" %> <br />
            <div class="chat-bubble">
                <%= message.content %>
            </div>
        </div>
                
    </div>
</li>