<% provide(:title, @user.name) %>
<div class = "main-style-2">
<h1><%= @user.name %></h1>

<div class="mdl-grid">
  
  <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone sidebar">
    <%= render 'shared/stats' %>
  </div>


  <div class="mdl-cell mdl-cell--9-col main">
   
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      
      <div class="mdl-tabs__tab-bar">
        <%= link_to "Posts", @user, class: "mdl-tabs__tab" %>
        <%= link_to "Following",following_user_path(@user), class: "mdl-tabs__tab" %>
        <%= link_to "Followers", followers_user_path(@user), class: "mdl-tabs__tab is-active" %>
        <a href="#likes-panel" class="mdl-tabs__tab">Likes</a>
      </div>

      <div class="mdl-tabs__panel is-active" id="followers-panel">
              
        <%= render 'users/show_follow' %>
      </div>
      
    </div>
  </div>

</div>
</div>