<div class="header-drawer mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout-title">hanyang.tay</span>
    <nav class="mdl-navigation">
    <%= link_to root_path, class: "mdl-navigation__link" do %>
              <i class="material-icons" role="presentation">home</i>Home
    <% end %>
    <%= link_to projects_path, class: "mdl-navigation__link" do %>
              <i class="material-icons" role="presentation">explore</i>Projects
    <% end %>
    <%= link_to about_path, class: "mdl-navigation__link" do %>
              <i class="material-icons" role="presentation">face</i>About
    <% end %>
    <hr>
    <% if logged_in? %>
    
        <%= link_to status_posts_path, class: "mdl-navigation__link" do %>
            <i class="material-icons" role="presentation">public</i> App Home
        <% end %>
        
        <%= link_to explore_path, class: "mdl-navigation__link" do %>
            <i class="material-icons" role="presentation">near_me</i> Explore
        <% end %>
        
        <%= link_to users_path, class: "mdl-navigation__link" do %>
            <i class="material-icons" role="presentation">people</i> Find friends
        <% end %>
                        
         <%= link_to current_user, class: "mdl-navigation__link" do %>
            <i class="material-icons" role="presentation">account_circle</i> Profile
        <% end %>
        
        <%= link_to edit_user_path(current_user), class: "mdl-navigation__link" do %>
            <i class="material-icons" role="presentation">settings</i> Settings
        <% end %> 
        
        <%= link_to logout_path, method: :delete, class: "mdl-navigation__link" do %>
            <i class="material-icons" role="presentation">power_settings_new</i> Log out
        <% end %>
        
   <% else %>
   
        <%= link_to login_path, class: "mdl-navigation__link" do %>
            <i class="material-icons" role="presentation">account_circle</i> Log in
        <% end %>
        
        <%= link_to signup_path, class: "mdl-navigation__link" do %>
            <i class="material-icons" role="presentation">person_add</i> Sign Up
        <% end %>
        
        <%= link_to explore_path, class: "mdl-navigation__link" do %>
            <i class="material-icons" role="presentation">near_me</i> Explore
        <% end %>
        
    <% end %>
    
    </nav>
</div>
 