<header class="main-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
        <!-- Title -->    
        <title><%= yield(:title) %></title>
        <%= link_to "hanyang.tay", root_path, class: "mdl-layout-title" %>
        
        <!-- Add spacer, to align navigation to the right in desktop -->
        <div class="mdl-layout-spacer"></div>
          
        <!-- Navigation -->
        <div class="main-navigation-container">
            <nav class="main-header mdl-navigation">
                <%= link_to "Home", root_path, class: "main-header mdl-navigation__link" %>
                <%= link_to "Projects", projects_path, class: "main-header mdl-navigation__link" %>
                <%= link_to "About", about_path, class: "main-header mdl-navigation__link" %>
            </nav>
        </div>
    </div>
    
        
</header>
<div class="header-drawer mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout-title">hanyang.tay</span>
    <nav class="mdl-navigation">
    <%= link_to root_path, class: "mdl-navigation__link" do %>
              <i class="material-icons" role="presentation">home</i>Home
    <% end %>
    <%= link_to projects_path, class: "mdl-navigation__link" do %>
              <i class="material-icons" role="presentation">explore</i>Projects
    <% end %>
    <%= link_to about_path, class: "mdl-navigation__link" do %>
              <i class="material-icons" role="presentation">face</i>About
    <% end %>
    
    </nav>
  </div>