<!DOCTYPE html>
<html>
<head>
  <title>hanyang | <%= yield(:title) %></title>
  
  <meta name="description" content="Han Yang Tay's portfolio" />
	<meta name="keywords" content="han, han yang, han yang tay, han tay, developer, software engineer" />
	<meta name="robots" content="index" />
  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">

  <%= favicon_link_tag %>
  <%= render 'layouts/shim' %>
</head>
<body>

<div class="mdl-layout mdl-js-layout">
    
  <%= render'layouts/header' %>
    
  <main class="mdl-layout__content page-content">
    
    <%= render 'shared/flash_message' %>
    
    <%= yield %>
    
    <%= render 'layouts/footer' unless @skip_footer %>
  </main>

</div>

</body>
</html>
