<!DOCTYPE html>
<html>
<head>
  <title>hanyang | <%= yield(:title) %></title>
  
  <meta name="description" content="Han Yang Tay's portfolio" />
	<meta name="keywords" content="han, han yang, han yang tay, han tay, developer, software engineer" />
	<meta name="robots" content="index" />
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto" rel="stylesheet">
  <%= favicon_link_tag %>
  <%= render 'layouts/shim' %>
</head>
<body>

<div class="mdl-layout mdl-js-layout">
    <%= render'layouts/header' %>
    

  <main class="mdl-layout__content page-content">
    
    <% flash.each do |message_type, message| %>
    <div id="flash-alert-<%= message_type %>" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
  
    <script>
      r(function(){
          var snackbarContainer = document.querySelector('#flash-alert-<%= message_type %>');
          var data = { message: "<%= message %>"};
          snackbarContainer.MaterialSnackbar.showSnackbar(data);
      });
      function r(f){ /in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
    </script>
    <% end %>
    

    
    
    <div class="normal-section-text">
    <%= yield %>
    </div>


      
    
    
      <%= render 'layouts/footer' %>
  </main>
  
  <!-- <%= debug(params) if Rails.env.development? %> -->

</div>

</body>
</html>
